@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: black;
}

.container {
    width: 50vh;
    height: 100vh;
    margin: 0 auto;
    padding: 40px 20px 10px 20px;
    color: white;
}

.operation {
    width: 100%;
    font-weight: 300;
    font-size: 8vh;
    margin: 15% 0 10% 0;
}

.operation p {
    text-align: right;
    padding-right: 5px;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(5, 1fr);
    gap: 1.5vh;
}

button {
    width: 10vh;
    height: 10vh;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 4vh;
    font-weight: normal;
}

button:hover {
    filter: brightness(0.8);
    transform: scale(1.02);
    cursor: pointer;
}

.operator, .btn-equal{
    background-color: #FF9F0C;
}

.operator:hover, .btn-equal:hover{
    background-color: #ffffff;
    color: #FF9F0C;
}


.number {
    background-color: #333333;
}

.btn-all-clear, .btn-parentheses, .btn-delete  {
    background-color: #A5A5A5;
    color: black
}

#equation {
    font-size: 3vh;
}

#equation {
    font-size: 3vh;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

#output {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.btn-0 {
    grid-column: span 2;
    width: 21vh;
    border-radius: 800px;
    text-align: left;
    padding-left: 4vh;
}